@import url(reset.css);

body {
  background-image: url('../assets/med.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #424242;
  font-family: Roboto, sans-serif;
}
label {
  cursor: pointer;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 650px;
  background-color: #fff;
  padding: 25px 75px;
  border-radius: 15px;
}

.mini-block {
  min-width: 100%;
  margin-bottom: 30px;
}
.mini-block__label {
  padding-left: 5px;
  display: block;
  font-size: 1.4rem;

  margin-bottom: 10px;
  font-weight: 600;
}

.mini-block__input {
  min-width: 100%;
  height: 24px;

  border: 1px solid #ccc;
  border-radius: 5px;

  padding: 25px;
  font-size: 20px;
}
.mini-block__input:focus {
  outline: none;
  border-color: #007cd6;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 124, 214, 0.3);
}

.mini-block__label_important {
  color: rgb(255, 100, 100);
}

/*MEDIA -----------------*/

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 500px;
  }
  .mini-block {
    margin-bottom: 20px;
  }
  .mini-block__input {
    font-size: 16px;
    padding: 20px;
  }
  .mini-block__label {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 400px;
  }
  .mini-block {
    margin-bottom: 10px;
  }
  .mini-block__input {
    font-size: 12px;
    padding: 16px;
  }
  .mini-block__label {
    font-size: 1rem;
  }
  .css-13cymwt-control {
    font-size: 12px;
    padding: 0px;
    min-height: 15px;
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    width: 350px;
  }
}
