.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_title {
  display: block;
  margin-bottom: 30px;
}

.form__submit {
  min-width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #a4bdd9;
  border: 2px solid #a4bdd9;
  color: white;
  cursor: pointer;
}
.form__submit:disabled {
  background-color: gray;
}

@media screen and (max-width: 1280px) {
  .form_title {
    margin-bottom: 15px;
    font-size: 1.37rem;
  }
}

@media screen and (max-width: 768px) {
  .form_title {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
}
